@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
    transition: 0.3s;
}
a:hover {
    color: var(--secondary);
}

input,
button {
    outline: none;
    border: 0;
    background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
ul,
ol,
li,
p {
    margin: 0;
    list-style: none;
    padding: 0;
}

figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

figure.overlay {
    position: relative;
}

figure.overlay:before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.322);
}

:root {
    --primary: #1c2541;
    --secondary: #ff4c4c;
    --secondaryDark: #f32a2a;
    --accent: #344372;
    --evenSection: #f8f6ff;
    --black: #000;
    --rating: #ffc107;
    --white: #fff;
    --footer: #0f162c;
    --verified: #0f8914;
    --bgcolor: #344372;
    --primary: #5D9C59;
    --primaryDark: #4c008f;
    --secondary: #898121;
    --secondaryDark: #cc9705;
    --accent: black;
    --white: #fff;
    --black: #222;
}

/* ==========Navbar========== */
.header_content {
    display: flex;
    justify-content: space-between;
}

.header_icon ul {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    justify-content: center;
    margin-right: 30px;
}

marquee span {
    color: white;
    font-size: 17px;
    font-weight: 500;
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% {
        color: white
    }

    50% {
        color: rgba(255, 255, 255, 0.712);
    }

    100% {
        color: rgb(255, 255, 255);
    }
}

.margquee-tag {
    width: 100%;
    display: flex;
    /* max-width: 500px; */
    align-items: center;
}

.header-top {
    background-color: var(--secondary);
}

.header-bottom {
    background-color: var(--primary);
    padding: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
    position: relative;
    grid-gap: 20px;
}

.header-nav ul {
    display: flex;
    gap: 15px;
}

.header_icon:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: #183816;
    height: 35px;
    width: 330px;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 150%);
}

li.icons a {
    color: white;
    font-size: 18px;
}

.header-nav ul li a {
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    display: block;
    line-height: 1;
}

a.facebook:hover {
    color: rgb(4 114 251);
}

a.instagram:hover {
    color: rgb(253, 29, 29);
}

.linkedin:hover {
    color: rgb(36 119 223);
}

.search-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon i {
    color: white;
    font-size: 17px;
    margin-top: -3px;
}

.header-form input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: black;
}

.header-form {
    width: 0%;
    z-index: 5;
    height: 40px;
    display: flex;
    overflow: hidden;
    max-width: 500px;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    transition: 0.5s ease-in-out;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}

.header-form.active {
    width: 100%;
}

.menu {
    background: var(--primary);
    border-radius: 5px;
    transition: 0.3s;
    display: none;
}

.menu i {
    color: white;
    font-size: 17px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
}

.hide {
    display: none;
}

.header-search {
    position: relative;
    z-index: 1;
}

.header-nav {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.header-search {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.search-icon {
    background: var(--primary);
    border-radius: 5px;
    transition: 0.3s;
}

.header-logo {
    height: 60px;
    width: 200px;
    display: flex;
}

.header-links>* {
    flex: 1;
}

.search-icon:hover {
    background: #183816;
}

.search-icon.active {
    background: #220000;
    border-radius: 25px;
}

.header-form-btn {
    height: 100%;
    padding: 5px 14px;
    background: var(--secondary);
    color: white;
    font-weight: 700;
    display: none;
}


.menu.active {
    background: #220000;
    position: relative;
    border-radius: 25px 25px 0 0;
}

.menu:hover {
    background: #220000;
}
.menu.active:after{
    content: "";
    position: absolute;
    background: #220000;
    height: 20px;
    width: 99%;
    top: 100%;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mobile_menu.active {
    right: 0;
    top: 107px;
    right: 0;
    border-radius: 0;
    opacity: 1;
    height: 100vh;
    backdrop-filter: blur(171px);
    width: 300px;
}
