@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap"); ga {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cabin, sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
    transition: all 0.3s ease 0s;
}

a:hover {
    color: var(--secondary);
}

input, button {
    outline: none;
    border: 0px;
    background: none;
}

figure {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: rgba(128, 128, 128, 0.51) 0px 0px 5px inset;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primaryDark);
}

::selection {
    color: rgba(255, 255, 255, 0.745);
    background: var(--primary);
}

section {
    padding: 30px 0px;
}

h1, h2, h3, h4, h5, h6, label, ul, ol, li, p {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.views {
    color: var(--primary);
}

.webkit {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 20px;
}

figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease 0s;
}

figure.overlay {
    position: relative;
}

body {
    position: relative;
}

body::before {
    position: absolute;
    inset: 0px;
    background-color: rgba(255, 255, 255, 0.15);
    content: "";
    z-index: 30;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
    pointer-events: none;
    backdrop-filter: blur(5px);
}

body.active::before {
    opacity: 1;
    pointer-events: auto;
    z-index: 5;
}

body.active {
    overflow: hidden;
}

.glass-container {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
}

figure.overlay::before {
    content: "";
    inset: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.32);
}

:root {
    --primary: #37aa9c;
    --primaryDark: #26897d;
    --secondary: #255228;
    --secondaryDark: #144017;
    --accent: blue;
    --white: #fff;
    --black: #222;
}

header {
    position: relative;
}

.header_content {
    display: flex;
    justify-content: space-between;
}

.menu-close {
    position: absolute;
    right: 14px;
    background: var(--primary);
    color: white;
    height: 30px;
    width: 30px;
    top: 10px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    display: none;
}

.header_icon ul {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    justify-content: center;
    margin-right: 30px;
}

marquee span {
    color: white;
    font-size: 17px;
    font-weight: 500;
    animation: 1s ease 0s infinite normal none running color-change;
}

@keyframes color-change {
    0% {
        color: white;
    }

    50% {
    }

    100% {
        color: rgb(255, 255, 255);
    }
}

.margquee-tag {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-top {
    background-color: var(--secondaryDark);
}

.header-bottom {
    background-color: var(--primary);
    padding: 10px 0px;
    position: relative;
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 20px;
}

.header-nav ul li a::before {
    content: "";
    position: absolute;
    background: rgba(227, 227, 227, 0.64);
    height: 2px;
    width: 0%;
    top: 0px;
    right: 0px;
    transition: all 0.3s cubic-bezier(1, 1.01, 0, 0.09) 0s;
}

.main-heading {
    margin-bottom: 20px;
}

.header-nav ul li a::after {
    content: "";
    position: absolute;
    background: rgba(227, 227, 227, 0.64);
    height: 2px;
    width: 0%;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease 0s;
}

.header-nav ul li:where(:hover, .active) a::before, .header-nav ul li:where(:hover, .active) a::after {
    width: 100%;
}

.header-nav ul li::before {
    content: "";
    position: absolute;
    background: rgba(227, 227, 227, 0.64);
    height: 0%;
    width: 2px;
    top: 0px;
    right: 0px;
    transition: all 0.3s cubic-bezier(1, 1.01, 0, 0.09) 0s;
    z-index: 2;
}

.header-nav ul li::after {
    content: "";
    position: absolute;
    background: rgba(227, 227, 227, 0.64);
    height: 0%;
    width: 2px;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s cubic-bezier(1, 1.01, 0, 0.09) 0s;
    z-index: 2;
    border-radius: 5px;
}

.header-nav ul li:where(:hover, .active)::before, .header-nav ul li:where(:hover, .active)::after {
    height: 100%;
    border-radius: 5px;
}

.header-nav ul li {
    position: relative;
    border-radius: 5px;
}

.header-nav ul {
    display: flex;
    gap: 15px;
}

.header_icon::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    background: var(--secondary);
    height: 35px;
    width: 330px;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 150%);
}

li.icons a {
    color: white;
    font-size: 18px;
}

.header-nav ul li a {
    color: white;
    font-size: 15px;
    font-weight: 600;
    display: block;
    line-height: 1;
    position: relative;
    padding: 10px;
}

a.facebook:hover {
    color: rgb(4, 114, 251);
}

a.instagram:hover {
    color: rgb(253, 29, 29);
}

.linkedin:hover {
    color: rgb(36, 119, 223);
}

.search-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon i {
    color: white;
    font-size: 17px;
    margin-top: -3px;
}

.header-form input {
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    color: black;
}

.header-form {
    width: 0%;
    height: 40px;
    display: flex;
    overflow: hidden;
    max-width: 500px;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    transition: all 0.5s ease-in-out 0s;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 4;
}

.header-form.active {
    width: 100%;
}

.menu {
    background: var(--primary);
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    display: none;
}

.menu i {
    color: white;
    font-size: 17px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
}

.hide {
    display: none;
}

.header-search {
    position: relative;
    z-index: 1;
}

.header-nav {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.header-search {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.search-icon {
    background: var(--primary);
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.header-logo {
    height: 60px;
    width: 200px;
    display: flex;
}

.header-links > * {
    flex: 1 1 0%;
}

.search-icon:hover {
    background: var(--secondary);
}

.search-icon.active {
    background: var(--secondary);
    border-radius: 25px;
}

.header-form-btn {
    height: 100%;
    padding: 5px 14px;
    background: var(--secondary);
    color: white;
    font-weight: 700;
    display: none;
}

.menu.active {
    background: var(--secondary);
    position: relative;
    border-radius: 5px;
}

.menu:hover {
    background: var(--secondary);
}

.menu.active::after {
    position: absolute;
    background: var(--secondary);
    height: 20px;
    width: 99%;
    top: 100%;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.mobile_menu.active {
    top: 0px;
    right: 0px;
    border-radius: 0px;
    opacity: 1;
    height: 100vh;
    backdrop-filter: blur(171px);
    width: 300px;
    z-index: 99;
}

a.main-slide {
    height: 370px;
    display: block;
    border-radius: 15px;
    overflow: hidden;
}

.main-slide-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 23;
    bottom: 0px;
    align-items: flex-start;
    padding: 23px;
}

.main-slide-content span {
    color: rgb(207, 207, 207);
    font-size: 15px;
}

.slide-tag {
    display: flex;
    align-items: flex-start;
    background: var(--primary);
    padding: 2px 16px;
    color: white;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 400;
}

.main-slide-content {
    color: white;
    opacity: 0;
    transition: all 0.5s cubic-bezier(1, 1.55, 0, 0.94) 0.2s;
    transform: translateX(100px);
}

.swiper-slide-active .main-slide-content {
    transform: translateX(0px);
    opacity: 1;
}

.main-slide::after {
    content: "";
    height: 100%;
    width: 100%;
    inset: 0px;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
    border-radius: 15px;
}

.slide-img figure {
    border-radius: 50%;
    overflow: hidden;
    height: 30px;
    margin: 0px;
    width: 30px;
}

.slide-img {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-top: 1px solid rgba(68, 181, 249, 0.57);
    padding-top: 20px;
}

.slide-img p {
    color: rgb(213, 209, 209);
}

.swiper-btn {
    background: var(--primary);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

.main-slide-content h4 {
    font-size: 20px;
}

.main-slide-content h4 {
    font-size: 23px;
    text-transform: capitalize;
}

.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.swiper-button-next::after, .swiper-rtl .swiper-button-next::after {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.hero_slider .swiper-slide {
    max-width: calc(100% - 300px);
}

.swiper-btn:hover {
    background: var(--primaryDark);
}

.swiper-slide-next, .swiper-slide-prev {
    transition: all 0.3s ease 0s;
}

.hero-btn-hover {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 35px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 7px;
    transition: all 0.4s ease-in-out 0s;
    background-image: linear-gradient(to right, var(--secondary), #44b5f9, var(--secondary), var(--secondary));
    box-shadow: rgb(27, 55, 80) 0px 4px 15px 0px;
}

.hero-btn-hover:hover {
    background-position: 100% 0px;
    transition: all 0.4s ease-in-out 0s;
    box-shadow: none;
}

.hero-btn-hover:focus {
    outline: none;
}

.hero-btn i {
    font-size: 14px;
}

.main-slide-content h4 {
    font-size: 20px;
}

.main-slide-content h4 {
    font-size: 23px;
    text-transform: capitalize;
}

.teaser-list {
    text-align: center;
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.teaser {
    color: rgb(51, 51, 51);
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    border-radius: 10px;
}

.teaser:hover .teaser-date.animated .date {
    transform: scale(1);
}

.teaser:hover .teaser-date.animated .bubble {
    transform: scale(1.1);
}

.teaser-date {
    position: absolute;
    height: 100px;
    right: -17px;
    background: rgb(55, 170, 156);
    top: -20px;
    width: 100px;
    z-index: 1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0, 0.48, 0, 1.18) 0s;
    transform: scale(0);
    border: 1px solid white;
}

.teaser-date hr {
    border-width: 2px;
}

.teaser-date p {
    font-weight: bold;
}

.teaser-date p:nth-child(1) {
    font-size: 16px;
}

.teaser-date p:nth-child(2) {
    font-size: 15px;
    line-height: 14px;
    text-transform: uppercase;
}

.teaser-date .bubble {
    border-radius: 50%;
    background-color: rgb(55, 170, 156);
    content: "";
    height: 100px;
    right: -20px;
    position: absolute;
    top: -20px;
    transition: all 0.2s ease 0s;
    width: 100px;
}

.teaser-date .date {
    color: white;
    font-size: 16px;
    text-align: center;
    transition: all 0.2s ease 0.2s;
}

.teaser-date.animated .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teaser-date.animated .date {
    transform: scale(1);
    display: flex;
    flex-direction: column;
}

.media {
    height: 210px;
    overflow: hidden;
    position: relative;
}

.media img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 100%;
}

.body {
    background-color: white;
    bottom: 0px;
    color: black;
    padding: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: calc(100% - 21px);
    margin: -60px auto auto;
    border-radius: 5px 5px 0px 0px;
}

.title {
    font-size: 22px;
    -webkit-line-clamp: 2;
}

.description {
    font-size: 14px;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.teaser:hover .teaser-date {
    transform: scale(1.1);
}

.post-info {
    zoom: 1; display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--primaryDark);
    padding: 4px;
    color: white;
    max-width: calc(100% - 21px);
    margin: auto;
    border-radius: 0px 0px 5px 5px;
}

.post-info::before, .post-info::after {
    display: table;
}

.post-info::after {
    clear: both;
}

.post-info .info span {
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 4px;
}

.link {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 5;
}

hr, p, .media {
    margin: 0px;
    padding: 0px;
}

.post-info .info span i {
    font-size: 14px;
}

.category_main {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

.category_child {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.category_card_img figure {
    height: 200px;
    border-radius: 15px;
    margin: 0px;
    overflow: hidden;
}

.category_card_img {
    transition: all 0.3s ease 0s;
    border-radius: 15px;
    background-color: rgba(203, 203, 203, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    box-shadow: rgb(129, 129, 129) 0px 0px 10px 0px;
}

.catergory_card_main {
    gap: 10px;
    background: var(--primary);
    display: flex;
    padding: 10px;
    flex-direction: column;
    transition: all 0.3s ease 0s;
    border-radius: 15px;
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.category_sub_child {
    display: flex;
    flex: 1 1 0%;
    min-height: 100px;
    flex-flow: column wrap;
    gap: 20px;
}

.category_card_content h4 {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.category_card_content {
    padding: 10px;
}

.category_sub_child_item {
    display: flex;
    gap: 20px;
    min-height: 100px;
}

.blog_card {
    width: 100%;
}

.catergory_card_main.catergory_card_extra {
    flex: 1 1 0%;
}

.catergory_card_main.catergory_card_extra .category_card_img figure {
    height: 100%;
}

body {
    background: white;
}

.date__box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(204, 204, 204);
    border: 4px solid;
    top: 60px;
    font-weight: bold;
    padding: 5px 10px;
}

.date__box .date__day {
    font-size: 22px;
}

.blog-card {
    position: relative;
    flex: 1 1 0%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px -1px;
    border-radius: 5px;
    overflow: hidden;
}

.blog-card .date__box {
    opacity: 0;
    transform: scale(0.5);
    transition: all 300ms ease-in-out 0s;
}

.blog-card .blog-card__background, .blog-card .card__background--layer {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.blog-card .blog-card__background {
    padding: 15px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100px;
}

.blog-card .card__background--wrapper {
    height: 100%;
    clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 0px 60%);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.blog-card .card__background--main {
    height: 100%;
    min-height: 300px;
    position: relative;
    transition: all 300ms ease-in-out 0s;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-card .card__background--layer {
    z-index: 0;
    opacity: 0;
    background: rgba(51, 51, 51, 0.9);
    transition: all 300ms ease-in-out 0s;
}

.blog-card .blog-card__head {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    width: 100%;
}

.blog-card .blog-card__info {
    z-index: 10;
    background: white;
    width: calc(100% - 50px);
    padding: 20px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-line-clamp: 2;
}

.blog-card .blog-card__info h5 {
    transition: all 300ms ease-in-out 0s;
}

.blog-card:hover .date__box {
    opacity: 1;
    transform: scale(1);
    border-color: var(--primary);
}

.blog-card:hover .card__background--main {
    transform: scale(1.2) rotate(5deg);
}

.blog-card:hover .card__background--layer {
    opacity: 1;
}

.blog-card:hover .blog-card__info h5 {
    color: var(--primary);
}

a.icon-link {
    color: rgb(54, 55, 56);
    transition: all 200ms ease-in-out 0s;
}

a.icon-link i {
    color: var(--primary);
}

a.icon-link:hover {
    color: var(--primary);
    text-decoration: none;
}

.btn {
    background: white;
    color: rgb(54, 55, 56);
    font-weight: bold;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px 0px;
    overflow: hidden;
    border-radius: 0px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0px;
    border: none;
}

.btn:focus {
    box-shadow: none;
}

.btn:hover {
    background: var(--primary);
    color: rgb(255, 255, 255);
}

.btn.btn--with-icon {
    padding-right: 20px;
    display: flex;
    border-radius: 5px;
}

.btn.btn--with-icon i {
    padding: 0px 30px 0px 15px;
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    vertical-align: bottom;
    color: white;
    background: var(--primary);
    clip-path: polygon(0px 0px, 70% 0px, 100% 100%, 0% 100%);
}

.btn.btn--only-icon {
    width: 50px;
}

.blog_card {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px -1px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog_card a {
    color: inherit;
}

.blog_card a:hover {
    color: var(--primary);
}

.blog_card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.blog_card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
    flex: 0 0 200px;
}

.blog_card:hover .meta figure img {
    filter: blur(1px);
}

.meta figure {
    height: 100%;
}

.blog_card .photo {
    position: absolute;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    transition: transform 0.2s ease 0s;
}

.blog_card .details, .blog_card .details ul {
    margin: auto;
    padding: 0px;
    list-style: none;
}

.blog_card .details {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -100%;
    margin: auto;
    transition: left 0.2s ease 0s;
    background: rgba(0, 0, 0, 0.39);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog_card .details a {
    text-decoration: underline dotted;
}

.blog_card .details ul li {
    display: inline-block;
}

.blog_card .details .author::before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}

.blog_card .details .date::before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}

.blog_card .details .tags ul::before {
    font-family: FontAwesome;
    content: "";
    margin-right: 10px;
}

.blog_card .details .tags li {
    margin-right: 2px;
}

.blog_card .details .tags li:first-child {
    margin-left: -4px;
}

.blog_card .description {
    padding: 1rem;
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    -webkit-line-clamp: 2;
}

.blog_card .description h1, .blog_card .description h2 {
    font-family: Poppins, sans-serif;
}

.blog_card .description h1 {
    margin: 0px;
    font-size: 21px;
    font-weight: 600;
}

.blog_card .description h2 {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(162, 162, 162);
}

.blog_card .description .read-more {
    text-align: right;
}

.blog_card .description .read-more a {
    color: var(--primary);
    display: inline-block;
    position: relative;
}

.blog_card .description .read-more a::after {
    content: "";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s ease 0s, opacity 0.3s ease 0s;
}

.blog_card .description .read-more a:hover::after {
    margin-left: 5px;
    opacity: 1;
}

.blog_card p {
    position: relative;
    -webkit-line-clamp: 3;
    font-size: 15px;
}

.blog_card p:first-of-type::before {
    content: "";
    position: absolute;
    height: 5px;
    background: var(--primary);
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog_card:hover .details {
    left: 0%;
}

.categories_card figure {
    height: 110px;
    margin: 0px;
    overflow: hidden;
    border-radius: 5px;
    filter: blur(1px);
}

.categories_content {
    padding: 10px;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease 0s;
    color: white;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    background: rgba(41, 72, 67, 0.65);
}

.categories_card {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.main_card {
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.categories_card:hover .categories_content {
    background: rgb(91, 111, 108);
    color: white;
    bottom: 0px;
    transform: translateY(100%);
}

.categories_card:hover figure {
    filter: blur(0px);
}

.categories_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
    gap: 20px;
    width: 100%;
    align-self: center;
}

.main_card figure {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.main_card figure img {
    min-height: 300px;
}

.card {
    width: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px;
}

.card:hover .card__caption {
    top: 50%;
    transform: translateY(-50%);
    background: rgba(55, 170, 156, 0.61);
    justify-content: center;
}

.card:hover .card__image {
    transform: translateY(-10px);
}

.card:hover .card__thumb::after {
    top: 0px;
}

.card:hover .card__snippet {
    margin: 20px 0px;
}

.card__thumb {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .card__thumb {
        max-height: 500px;
    }
}

.card__thumb::after {
    position: absolute;
    top: 0px;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: all 0.3s ease 0s;
}

@media (min-width: 1024px) {
    .card__thumb::after {
        top: calc(100% - 140px);
    }
}

.card__image {
    transition: all 0.5s ease-in-out 0s;
}

.card__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0px 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: all 0.3s ease 0s;
}

@media (min-width: 1024px) {
    .card__caption {
        top: calc(100% - 71px);
        transform: unset;
        background: var(--primary);
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.card__title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-size: 23px;
    line-height: 28px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0px;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: all 0.5s ease-in-out 0s;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

@media (min-width: 1024px) {
    .card__snippet {
        margin: 60px 0px;
    }
}

.card__button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.card__thumb {
    background-image: url("../images/cards (10).jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.card__button:hover {
    color: black;
    background-color: white;
}

.disclaimer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    transform: translateX(-50%);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
}

.disclaimer__link {
    color: rgb(117, 93, 135);
    text-decoration: none;
}

.categories_card:hover figure img {
    transform: scale(1.1);
}

.footer_subscribe {
    display: flex;
    padding: 25px;
    background: var(--primary);
    align-items: center;
    width: 71%;
    margin: -50px auto auto;
    border-radius: 5px;
    gap: 10px;
}

.footer_form {
    display: flex;
    gap: 10px;
    width: 100%;
}

input.footer_input {
    border-radius: 5px;
    background: white;
    padding: 7px 10px;
    width: 100%;
}

.footer_btn {
    background: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.footer_subscribe h4 {
    color: white;
    font-size: 23px;
    width: 40%;
}

.footer_btn:hover {
    background: var(--secondaryDark);
}

footer.footer {
    background: rgba(0, 0, 0, 0.78);
    margin-top: 50px;
}

.footer_top {
    margin-top: 30px;
}

.footer_icons ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer_icons ul li {
    background: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

a.icon_link {
    font-size: 20px;
}

.footer_icons ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer_icons ul li {
    background: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

a.icon_link {
    font-size: 20px;
}

.footer_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(37, 82, 40);
    padding: 10px;
    margin-bottom: 20px;
}

.footer_icons ul li:hover {
    background: var(--primary);
}

.footer_icons ul li:hover .icon_link {
    color: white;
}

.footer_link {
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.footer_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.footer_link ul strong {
    font-size: 20px;
    position: relative;
}

.footer_link ul li a {
    color: rgb(201, 201, 201);
}

.footer_log_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a.header-logo img {
    max-width: 100%;
    max-height: 100%;
}

.footer_log_content p {
    color: rgb(225, 225, 225);
    font-size: 15px;
    font-weight: 300;
}

.footer_link ul li a:hover {
    color: var(--primary);
}

.footer_bottom {
    background: rgba(55, 170, 156, 0.45);
    text-align: center;
    color: white;
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
}

.footer_bottom {
    background: rgb(58, 58, 58);
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
}

.footer_link ul {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer_link strong {
    font-size: 20px;
    background: rgb(56, 56, 56);
    position: relative;
}

a.f_tag {
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    background: rgb(44, 44, 44);
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
    font-size: 14px !important;
}

.footer_tag {
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
}

a.f_tag:hover {
    background: var(--secondary);
}

.footer_link ul strong::after {
    content: "";
    position: absolute;
    top: 50%;
    background: rgba(151, 151, 151, 0.42);
    height: 2px;
    width: 100%;
    left: 0px;
}

.footer_link strong::after {
    content: "";
    position: absolute;
    background: rgba(151, 151, 151, 0.42);
    height: 2px;
    width: 100%;
    left: 0px;
    top: 50%;
}

.footer_link strong span {
    background: rgb(56, 56, 56);
    position: relative;
    z-index: 1;
}

.footer_blogs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_blog figure {
    height: 90px;
    width: 90px;
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 90px;
    margin: 0px;
}

.footer_blog_content h4 {
    font-size: 15px;
    color: white;
    -webkit-line-clamp: 2;
}

.footer_blog_content p {
    font-size: 14px;
    color: rgb(175, 175, 175);
}

.footer_date {
    display: flex;
    gap: 10px;
}

.footer_blog {
    display: flex;
    gap: 10px;
    background: rgb(44, 44, 44);
    padding: 7px;
    border-radius: 5px;
    align-items: center;
}

.footer_blog figure img {
    height: 100%;
}

.footer_blog:hover figure img {
    transform: scale(1.1);
}

.footer_link ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer_link ul li i {
    font-size: 12px;
}

.footer_link ul li svg {
    height: 23px;
    width: 23px;
}

.facebook {
    color: rgb(0, 0, 141);
}

.instagram {
    color: red;
}

.twitter {
    color: skyblue;
}

.linkdin {
    color: blue;
}

.blog-card .blog-card__info p {
    font-size: 15px;
}

.cate_card_content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.cate_card figure {
    margin: 0px;
    height: 100%;
}

.cate_card_content {
    transition: all 0.3s ease 0s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    background: rgba(0, 0, 0, 0.82);
    opacity: 0;
    padding: 10px;
    border-radius: 5px;
}

.main_Categories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.cate_card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 150px;
}

.cate_card:hover .cate_card_content {
    opacity: 1;
}

.cate_blog_card figure {
    height: 78px;
    flex: 0 0 70px;
    margin: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.cate_blog_card {
    display: flex;
    gap: 10px;
    padding: 7px;
    border-radius: 5px;
    align-items: center;
    background: white;
}

.detail_date {
    color: var(--secondary);
}

.cate_blog_content h4 {
    color: black;
    -webkit-line-clamp: 2;
    font-size: 17px;
    font-weight: 600;
}

.main_Categories_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
    width: 100%;
}

.main_Categories_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
    width: 100%;
    gap: 10px;
}

.cate_blogs::-webkit-scrollbar {
    width: 4px;
}

.cate_blogs::-webkit-scrollbar-track {
    box-shadow: grey 0px 0px 5px inset;
}

.cate_blogs::-webkit-scrollbar-thumb {
    background: gray;
}

.cate_card_content h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    text-align: center;
    font-size: 19px;
}

.cate_blog {
    gap: 15px;
}

.cate_blogs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow: auto;
    padding-right: 10px;
}

.cate_blogs_heading {
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

.cate_blogs_heading h4 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.cate_blog_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cate_blog_content .footer_date {
    font-size: 13px;
}

.cate_blog_card:hover figure img {
    scale: 1.1;
    transition: all 1s cubic-bezier(0.96, 0.6, 0.38, 1.27) 0s;
}
/* Contact us */
.contact_heading h4 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact_img {
    background-image: url("../images/Contact-us.png");
    flex: 1 1 0px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 460px;
}

.contact_main {
    display: flex;
    overflow: hidden;
    gap: 14px;
    border-radius: 5px;
    padding: 15px;
}

.contact_content {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_form form {
    flex-direction: column;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
}

.contact_form form label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 15px;
    text-transform: capitalize;
}

.contact_form form label input {
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 5px;
    padding: 8px;
    border-color: gray;
}

.contact_btn {
    text-transform: capitalize;
    background: var(--primary);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    align-self: self-start;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
}

.contact_content_heading {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_para p {
    font-size: 14px;
}

.contact_content_heading h4 {
    font-size: 20px;
    font-weight: 700;
}

.msg {
    grid-column: span 2 / auto;
}

.msg textarea {
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 5px;
    height: 100px;
    padding: 5px;
    border-color: gray;
    outline: none;
}

.form_email, .form_num {
    grid-column: span 2 / auto;
}

.contact_btn:hover {
    background-color: var(--primaryDark);
}

.contact_social_media {
    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
    display: grid;
    gap: 50px;
}

.contact_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: white;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 70px;
    box-shadow: 0px 0px 2px #00000094;
}

.contact_icon {
    border-radius: 50px;
    height: 60px;
    width: 60px;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    margin-top: -20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px -1px;
}

.contact_icon_content h4 {
    font-size: 24px;
    font-weight: 500;
}

.contact_icon_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 5px;
}

.contact_icon_content p {
    font-size: 15px;
    font-weight: 300;
}

.contact_form form label input:focus {
    border-color: var(--primary);
}

.msg textarea:focus {
    border-color: var(--primary);
}
/* About us  */
.main_about {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about_content h4 {
    font-size: 22px;
    font-weight: 600;
}

.about_par p {
    color: #3a3a3a;
}